body {
  background: linear-gradient(to right, #b223ff, #8100b4);
  margin: 50px;
}
p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 0;
  margin: 0px;
  vertical-align: center;
  /* justify-content: space-between; */
  top: 0;
  margin: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 50px;
  margin: -50px;
  align-items: center;
  justify-content: space-between;
}
.navbar,
.sidebar {
  font-size: 12px;
  color: #fdf9ff;
}
/* to do grid */
.div-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
  margin-right: 2px;
  margin-bottom: 2px;
  column-gap: 20px;
  row-gap: 10px;
  /* background-color: #fdf9ff; */
  background: linear-gradient(
    to right,
    rgba(178, 35, 255, 0),
    rgba(129, 0, 180, 0.3)
  );
}
/* //buttoons */
.add-btn {
  background-color: rgb(3, 101, 181);
}
.delete-btn {
  background-color: rgb(118, 0, 75);
}
.delete-btn,
.add-btn {
  width: 80px;
  height: 30px;
  border-radius: 12px;
  color: whitesmoke;
  font-style: italic;
  font-weight: bold;
}

input {
  border-radius: 12px;
  text-align: center;
  place-content: center;
}
